*{
    margin:0;
    padding: 0;
}


body {
    background-color: rgba(245, 245, 245, 0.877);
    font-family:Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 80px;
    background-color: #197AD4;
    display: flex;
    transition: all 0.8s;
}

header > div {
    width: 50%;
}

.nombre_taller {
    align-items:center;
    justify-content: center;
    display: flex;
}

.nombre_taller h1 {
    font-weight: bold;
    color: whitesmoke;
}

.contenedor_logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 72px;
    margin-left: 80px;
}

.menu {
    width: 50px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    }

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

nav > ul {
    margin-right: 30px;
    margin-top: 20px;
}

nav > ul > li {
    display: inline;
    margin-left: 5px;

}



nav > ul > li > a {
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
}

.carrusel {
    background: white;
    margin-bottom: 30px;
  }
  
.carrusel-slide {
    width: 100%;
    height: 400px;
    margin-right: 10px;
    background: white;
    text-align: center;
}

.carrusel-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#contenido {
    width: 80%;
    margin: 10px auto;
    min-height: 100vh;
} 

.productos {
    display: flex;
    flex-wrap: wrap;
}

.productos .producto {
    width: 100%;
}

.productos .izquierda {
    float: left;
    margin-right: 15px;
    height: 120px;
    object-fit: cover;   
}

.galeria_atenciones{
    width: 80%;
    margin: 20px auto;
    background-color:#197AD4;
    color: whitesmoke;
    padding: 15px;
}
.galeria_atenciones2{
    width: 80%;
    margin: 20px auto;
    background-color:#197AD4;
    color: whitesmoke;
    padding: 15px;
}

.galeria_atenciones .izquierda2 {
    float: left;
    margin-right: 15px;
    height: 180px;
    object-fit: cover;
}

.galeria_atenciones2 .derecha {
    float: right;
    margin-left: 15px;
    height: 180px;
    object-fit: cover;
    
}

.productos .producto .contenedor {           
        margin: auto;
        background-color: #197AD4;
        color: #0D2E4F;
        padding: 15px;     
}

footer {
    height: 80px;
    background-color: #197AD4;
}

footer > .logo {
    display: flex;
    width: auto;
    height: 100%;
    justify-content:flex-start;
    align-items: center;
}

footer > .logo img {
    width: 72px;
    height: 60px;
    margin-left: 3px;
}



/*MEDIA QUERIES*/

@media (max-width: 1024px) {

    .productos .producto {
        width: 50%;
    }

    .nombre_taller {
        align-items:center;
        justify-content: center;
        display: flex;
        color: #0D2E4F;
        font-size: small;
        }

        header {
            height: auto;
        }
}



@media (max-width: 480px) {

    .productos .producto {
        width: 100%;
    }

    .nombre_taller {
        display: none;
    }

    header {
        flex-direction: column;
        height: auto;
    
    }

    header > div {
        width: 100%;
    }

    header .contenedor_logo {
        justify-content: center;
    }

    header .logo {
        margin-top: 10px;
    }

    .logo {
        margin-right: 70px;
    }

    nav {
        justify-content: center;
    }

    nav > ul {
        margin: 0;
    }

    nav > ul > li {
        display: block;
        padding: 1px;
        text-align: center;
    }

}
