*{
    margin:0;
    padding: 0;
}


body {
    background-color: #F3F9FF;
    font-family:Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
header {
    width: 100%;
    height: 80px;
    background-color: #197AD4;
    display: flex;
}

header > div {
    width: 50%;
}

.nombre_taller {
align-items:center;
justify-content: center;
display: flex;
color: #0D2E4F;
}

.logo {
    width: 72px;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

nav > ul {
    margin-right: 30px;
}

nav > ul > li {
    display: inline;
    margin-left: 5px;
}

nav > ul > li > a {
    color: #0D2E4F;
    text-decoration: none;
}

.contenedor_logo {
    display: flex;
    align-items: center;
}
#contenido {
    width: 80%;
    margin: 10px auto;
    min-height: 100vh;
} 

footer {
    height: 80px;
    background-color: #197AD4;
}

footer > .logo {
    display: flex;
    width: auto;
    height: 100%;
    justify-content:flex-start;
    align-items: center;
}

footer > .logo img {
    width: 72px;
    height: 60px;
    margin-left: 3px;

}

.menu {
width: 40px;
height: 40px;
margin-left: 20px;
margin-top: 25px;
}

/*MEDIA QUERIES*/

@media (max-width: 1024px) {
    .nombre_taller {
        align-items:center;
        justify-content: center;
        display: flex;
        color: #0D2E4F;
        font-size: small;
        }

        header {
            height: auto;
        }
}

@media (max-width: 480px) {
    .nombre_taller {
        align-items:center;
        justify-content: center;
        display: flex;
        color: #0D2E4F;
        font-size: small;
        }

    header {
        height: auto;
    }
}
